<header>
  {{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span> Home{{/link-to}}<h1>Message Board: Answer a question. Help a Friend.</h1>
</header>
<main>
  {{outlet}}
</main>

<footer>
  <p> &copy; 2016 | Developed by Anand Angalig</p>
</footer>
