<header>
  <h1>Message Board: Answer a question. Help a Friend.</h1>
</header>
<main>
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer>
  <p> &copy; 2016 | Developed by Anand Angalig</p>
</footer>
